body {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 50vw;
    list-style-type: none;
}

li {
    width: 17vw;
    border: 5px solid black;
    background: grey;
}
li:hover {
    background: yellow;
}
